# Copyright (c) 2014 Sony Mobile Communications Inc.
#
# product common configuration
#
import init.sony-platform.rc

on fs
    # start hvdcp to enable quck charge 2.0 in power off charge
    start hvdcp

on post-fs
    # Touch
    mkdir /dev/socket/tfsw 0770 system system

on post-fs-data
    # Enterprise API configuration
    setprop ro.support.irda 0

on boot
    # PM8941 flash
    chown media system /sys/class/misc/pm8941-flash/device/current1
    chown media system /sys/class/misc/pm8941-flash/device/current2
    chown media system /sys/class/misc/pm8941-flash/device/fault_status
    chown media system /sys/class/misc/pm8941-flash/device/fine_current1
    chown media system /sys/class/misc/pm8941-flash/device/fine_current2
    chown media system /sys/class/misc/pm8941-flash/device/flash_timer
    chown media system /sys/class/misc/pm8941-flash/device/mask_clamp_current
    chown media system /sys/class/misc/pm8941-flash/device/mask_enable
    chown media system /sys/class/misc/pm8941-flash/device/max_current
    chown media system /sys/class/misc/pm8941-flash/device/mode
    chown media system /sys/class/misc/pm8941-flash/device/startup_delay
    chown media system /sys/class/misc/pm8941-flash/device/strobe
    chown media system /sys/class/misc/pm8941-flash/device/vph_pwr_droop

    # Touch
    chown system system /system/etc/tfswinfo/default.tfswinfo
    chmod 0600          /system/etc/tfswinfo/default.tfswinfo

# Touch
on property:sys.charger_plugged=0
    write /sys/devices/virtual/input/clearpad/charger_status 0

on property:sys.charger_plugged=1
    write /sys/devices/virtual/input/clearpad/charger_status 1

on property:persist.sys.touch.glove_mode=0
    write /sys/devices/virtual/input/clearpad/glove 0

on property:persist.sys.touch.glove_mode=1
    write /sys/devices/virtual/input/clearpad/glove 1

on property:sys.screen_on=0
    write /sys/devices/virtual/input/clearpad/screen_status 0

on property:sys.screen_on=1
    write /sys/devices/virtual/input/clearpad/screen_status 1

on property:persist.sys.touch.easywakeup=0
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 0

on property:persist.sys.touch.easywakeup=1
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 1

on property:init.svc.illumination=running
    start touchscreend

service touchscreend /system/bin/touchscreend
    disabled
    user system
    group system
    class core

# CTA
service cta /system/bin/cta_server
    user root
    group root
    class main

# charger
on property:persist.service.battery.charge=0
    write /sys/class/power_supply/battery/enable_llk 0
    write /sys/class/power_supply/battery/llk_socmax 0
    write /sys/class/power_supply/battery/llk_socmin 0

on property:persist.service.battery.charge=1
    write /sys/class/power_supply/battery/enable_llk 1
    write /sys/class/power_supply/battery/llk_socmax 60
    write /sys/class/power_supply/battery/llk_socmin 40


# SmartcardService UICCterminal Daemon
service ssuiccd /system/bin/ssuiccd
    class main
    user radio
    group radio
    socket ssuiccd stream 0666 smartcard smartcard
