# Copyright (c) 2013 Sony Mobile Communications AB.

import init.sony.usb.rc

on init
    # Load persistent dm-verity state
    verity_load_state

    mkdir /tmp
    mount tmpfs tmpfs /tmp nosuid mode=0755,uid=0,gid=0
    chmod 0664 /proc/rdtag
    chown root system /proc/rdtag

on fs
    # Install exfat module to support exfat file system
    insmod /system/lib/modules/texfat.ko

on post-fs
    # Adjust parameters for dm-verity device
    write /sys/block/dm-0/queue/read_ahead_kb 2048

    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

on post-fs-data
    mkdir /data/credmgr 0770 system credmgr_client
    mkdir /data/tombstones 0755 system system
    mkdir /data/tombstones/vendor 0755 system system
    mkdir /data/crashsms 0711 system system
    mkdir /data/crashsms/crashes 0755 system system
    mkdir /data/app-skin 0771 system system
    mkdir /data/smime 0770 root smime_keystore
    mkdir /data/pc 0700 radio radio
    mkdir /data/mediaserver 0740 media media
    mkdir /data/persist 0770 system system
    mkdir /data/persist/wv 0700 system system
    exec u:r:qti_init_shell:s0 -- /system/bin/rm -r /data/lost+found
    mkdir /data/lost+found 0770 root root
    exec u:r:qti_init_shell:s0 -- /system/bin/rm -r /cache/lost+found
    mkdir /cache/lost+found 0770 root root
    exec u:r:qti_init_shell:s0 -- /system/bin/rm -r /idd/lost+found
    mkdir /idd/lost+found 0770 root root
    mkdir /idd/output 0755 idd idd
    mkdir /idd/socket 0711 idd idd
    restorecon_recursive /idd
    start wvkbd_installer

on early-boot
    exec -- /system/bin/sh /system/etc/pre_hw_config.sh

on boot
    # Configurate TCP/IP kernel settings
    exec -- /system/bin/sh /system/etc/init.netconfig.sh

    # NFC local data and storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

on verity-logging
    exec u:r:slideshow:s0 -- /sbin/slideshow -t 7000 warning/verity_red_1 warning/verity_red_2

on property:dev.bootcomplete=1
    start startup-prober

# Start Credential manager daemon
service credmgrd /system/bin/credmgrd
    user system
    group credmgr_client
    socket credmgr stream 0660 system credmgr_client
    class main

# Start Security Daemon
service secd /system/bin/secd
    user system
    group system
    socket secd_ebl_sock stream 0660 system credmgr_client
    socket secd_devsec_sock stream 0660 system credmgr_client
    socket secd_credmgr_sock stream 0660 system credmgr_client
    class main

service wvkbd_installer /system/bin/wvkbd
    user system
    group system
    oneshot
    disabled

# Start system_monitor
service system_monitor /system/bin/system_monitor
    socket sysmon stream 0660 root system
    class core
    user root
    group trimarea system qcom_diag radio
    disabled

on property:ro.somc.thermal=system_monitor
    start system_monitor

service startup-prober /system/bin/startup-prober
    user root
    oneshot
    disabled
    group trimarea drmrpc system credmgr_client

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

import init.sony.diag.rc
